<div style = "text-align:center;">
<h1>Login Below!</h1>

<%= form_for :dog do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %><br>

   <%= f.label :email %>
   <%= f.email_field :email %><br>

   <%= f.label :password %>
   <%= f.password_field :password %><br>
   
   <%= f.submit "Log In"  %>
<% end %>
</div>