<div style = "background-color:green; color:white; text-transform:capitalize;">
<% flash.each do |alert, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
  </div>

<h1>You're All Set, <%= @reservation.dog.name.capitalize%>!</h1>
<h2>You will find your reservation details below for <span style= "text-decoration:underline;"><%= @reservation.hotel.name%></span> </h2>

<ul>
    <h3>Hotel Details</h3>

    Location: <%= @reservation.hotel.location %><br>
    Time:  <%= @reservation.time %><br>
    Date: <%= @reservation.date %><br>

    Fun things to do: <%= @reservation.hotel.activities %><br>

    <h3>Your Profile Details</h3><br>
    
    Email: <%= @reservation.dog.email %><br>
    Owner's name: <%= @reservation.dog.owner %><br>
    Phone: <%= @reservation.dog.phone %><br>
    Bio: <%= @reservation.dog.biography %><br>

</ul>

 <button><%= link_to 'Edit Reservation', edit_dog_reservation_path%></button><br><br>
 <%= button_to 'Cancel Reservation', dog_reservation_path, :method => :delete %>