
<ul>
<%= @hotels.each do |hotel| %>
 
  <span><strong> Hotel name: <%= hotel.name %></strong> </span>
  <p> Location: <%= hotel.location %></p>
  <p> Amenities and Activities:<%= hotel.activities %></p>
  <%= link_to "Reserve your stay today", new_hotel_reservation_path(hotel) %><br><br>

<%end%>
</ul><br>



