<h1>Browse through our hotel database and choose which one you would like to reserve.</h1>

<ul>
<%= @hotels.each do |hotel| %>
 <%byebug %>
  <li> <%= hotel.name %> </li>
  <li> <%= hotel.location %></li>
  <li> <%= hotel.activities %></li>
  <%= link_to "Reserve your stay today", new_hotel_reservation_path(@hotel) %>

<%end%>
</ul>



