<!DOCTYPE html>
<html>
  <head>
    <title>Doggy Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <% if logged_in && current_user %>
 <ul class= "nav"> 
  <button><%= link_to "Browse Hotels", hotels_path %></button>
  <button><%= link_to "My Reservations", dog_reservations_path(@dog) %> </button>  
  <%= button_to "Logout", logout_path %> 

  <%end%>


  <body>
    <%= yield %>
  </body>
</html>
